.gnb,
.gnb li a,
.gnb li a .bar,
.gnb .logo .bar,
.gnb .logo a,
.dimd-close,
.introduce-dimd,
.introduce-item-txt,
.map-a a,
.map-a a span,
.introduce-item{
  transition: all 0.3s ease;
  /* transition:   all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */

}
.planetxt{
  font-family: 'NanumSquare', sans-serif;
}
.clearboth{
  clear: both;
  display: block;
}
/* btn */
.btn, .btn::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  z-index: 9999;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  position: relative;
  z-index: 1;
  /*text-transform: uppercase;*/
  overflow: hidden;
}

.btn::before, .btn::after {
  /* background: #fff; */

  background: #30f264;
  background: -moz-linear-gradient(-45deg, #30f264 1%, #00e5d6 100%);
  background: -webkit-linear-gradient(-45deg, #30f264 1%,#00e5d6 100%);
  background: linear-gradient(135deg, #30f264 1%,#00e5d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30f264', endColorstr='#00e5d6',GradientType=1 );

  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  /* color: #333 !important; */

}

.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(-40deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 155%;
}

/* //btn */


h1,h2,h3{font-weight: normal;}
html{height: 100%;}
body{
  font-family: 'Godo', sans-serif;
  /* font-family: 'Noto Sans KR', 'Malgun Godic', sans-serif; */
  font-weight: 400;
  height: 100%;
  letter-spacing: -1px;
  color: #444;
}
.cwrap{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}


.gnb{
  width: 100%;height: 70px;
  position: fixed; top: 0; z-index:8888;
  background-color: rgba(255, 255, 255, 0.92); line-height: 70PX;
  border-bottom: 1px solid rgba(213, 213, 213, 0.15);
  overflow: hidden;
}
.gnb a{
  color: #263232;
}
.gnb .logo{
  font-weight: 400;
  float: left;
  font-size: 26px;
  position: relative;
  width: 185px;
  height: 70px;
}
.gnb .logo a{
  position: absolute; z-index: 9999;
  background: url(../../source/icon/logo_b2.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 0 20px;
  opacity: 0.67;
  width: 100%;
  height: 100%;
}


.gnb ul{
  float: right;
}
.gnb ul li{
  font-weight: normal;
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 20px;
}
.gnb ul li a{

  color: rgba(38, 50, 50, 0.57);
  width: 100%;
  display: inline-block;
  position: relative;
}
.gnb ul li.active a{
  color: #333;
  font-weight: bold;
}



.all-dimd{
  position: fixed;
  width: 100%; height: 100%;
  z-index: 9100;
  display: none;
}
.all-dimd.dimdon{display: block;}
.dimd-bg{
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}



.area-haeder{
  margin-top: 180px;
}
.area-haeder .bar{
  width: 50px; height: 2px;
  display: inline-block;
  background-color: rgb(180, 180, 180); border-radius: 500px;
  margin: 70px 0;
}

.footer{
  letter-spacing: -1px;
  font-family: 'NanumSquareRound';
  font-weight: normal;
  padding: 70px 0;
  margin-top: 180px;
  clear: both;
  width: 100%;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.89);
  color: rgba(255, 255, 255, 0.4);
}
.footer-top{
  width: 100%; height: 215px;
}
.footer-top > div{
  float: left;
  box-sizing: border-box;
  height: 100%;
}
.footer-top-big{
  width: 60%;
}
.footer-top .footer-h{
  font-size: 40px;
  font-family: 'Godo';
}
.footer-top .footer-h2{
  letter-spacing: 2px;
  font-size: 25px;
  font-family: 'Godo';
  margin-top: 17px;
}
.footer-top ul{
  display: inline-block;
  margin-top: 15px;
}
.footer-top li{
  font-size: 16px;
  margin-top: 6px;
}
.footer-top .footer-ul1{
  width: 140px;
}
.footer-top .footer-ul2{
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}
.footer-top-small{
  width: 35%;
}
.footer-bottom{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  position: relative;
}
.footer-bottom ul{
  display: inline-block;
}
.footer-bottom-left{
  margin-top: 35px;
  display: inline-block;
}
.footer-bottom-left li{
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.footer-bottom-left li .bar{
  width: 1px; height: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  position: absolute; top: 5px; right: -12px;
}
.footer-bottom-left li a{
  color: rgba(255, 255, 255, 0.6);
}
.footer-bottom-left li:hover a{
  color: #fff;
}
.footer-bottom-right{
  display: inline-block;
  position: absolute; top: 0; right: 0;
  margin-top: 15px;
}
.footer-bottom-right li{
  /* border: 1px solid #000; */
  margin-left: 30px;
  width: 100px;
  height: 50px;
  float: right;
  /* border: 1px solid #3d3; */
  opacity: 0.6;
  position: relative;
  margin-top: px;
}
.footer-bottom-right li a{
  display: inline-block;
  width: 100%; height: 100%;
}
.footer-bottom-right li:nth-child(1){
  background: url(../../source/icon/footer_img1.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: bottom;
}
.footer-bottom-right li:nth-child(2){
  background: url(../../source/icon/footer_img2.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: bottom;
}
.footer-bottom-right li:nth-child(3){
  background: url(../../source/icon/footer_img3.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: bottom;

}

.footer-bottom-right li:hover{
  opacity: 1;
}
  .gnb .m-main{
    display: none;
  }
  .gnb .logo .bar{
    display: inline-block;
    width: 100%;
    height: 100%; top: -100%;
    padding: 0 10px; left: -8px;
    position: absolute;
    border-radius: 10px;

    background: #30f264;
    background: -moz-linear-gradient(-45deg, #30f264 1%, #00e5d6 100%);
    background: -webkit-linear-gradient(-45deg, #30f264 1%,#00e5d6 100%);
    background: linear-gradient(135deg, #30f264 1%,#00e5d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30f264', endColorstr='#00e5d6',GradientType=1 );

    opacity: 0.4;
  }
  .gnb .logo:hover a{
    text-shadow: 2px 2px 4px rgba(97, 97, 97, 0.68);
    color: #fff;
    background: url(../../source/icon/logo_w2.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 0 20px;
    opacity: 1;
  }
  .gnb .logo:hover .bar{
    top: -10px;
    opacity: 0.6;
  }
  .gnb ul li .bar{
    position: absolute;
    display: inline-block;
    width: 0%; height: 4px;
    background-color: rgba(38, 50, 50, 0.12);
    bottom: 20px; left: 50%;
  }
  .gnb ul li a:hover{
    color: #263232;
  }
  .gnb ul li a:hover .bar{
    width: 100%; left: 0;
    background-color: #263232;
  }
